wsdl/BorrowingService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="borrowing.client.library.nb.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="borrowing.client.library.nb.com" name="BorrowingService">
<types>
<xsd:schema>
<xsd:import namespace="borrowing.client.library.nb.com" schemaLocation="http://localhost:8081/library/BorrowingService?xsd=1"/>
</xsd:schema>
</types>
<message name="addBorrowing">
<part name="parameters" element="tns:addBorrowing"/>
</message>
<message name="addBorrowingResponse">
<part name="parameters" element="tns:addBorrowingResponse"/>
</message>
<message name="getBorrowing">
<part name="parameters" element="tns:getBorrowing"/>
</message>
<message name="getBorrowingResponse">
<part name="parameters" element="tns:getBorrowingResponse"/>
</message>
<message name="listBorrowing">
<part name="parameters" element="tns:listBorrowing"/>
</message>
<message name="listBorrowingResponse">
<part name="parameters" element="tns:listBorrowingResponse"/>
</message>
<message name="listArchive">
<part name="parameters" element="tns:listArchive"/>
</message>
<message name="listArchiveResponse">
<part name="parameters" element="tns:listArchiveResponse"/>
</message>
<message name="listBorrowingByReturnDateBeforeCurrent">
<part name="parameters" element="tns:listBorrowingByReturnDateBeforeCurrent"/>
</message>
<message name="listBorrowingByReturnDateBeforeCurrentResponse">
<part name="parameters" element="tns:listBorrowingByReturnDateBeforeCurrentResponse"/>
</message>
<message name="findByBookId">
<part name="parameters" element="tns:findByBookId"/>
</message>
<message name="findByBookIdResponse">
<part name="parameters" element="tns:findByBookIdResponse"/>
</message>
<message name="updateBorrowing">
<part name="parameters" element="tns:updateBorrowing"/>
</message>
<message name="updateBorrowingResponse">
<part name="parameters" element="tns:updateBorrowingResponse"/>
</message>
<message name="deleteBorrowing">
<part name="parameters" element="tns:deleteBorrowing"/>
</message>
<message name="deleteBorrowingResponse">
<part name="parameters" element="tns:deleteBorrowingResponse"/>
</message>
<portType name="BorrowingClient">
<operation name="addBorrowing">
<input wsam:Action="borrowing.client.library.nb.com/BorrowingClient/addBorrowingRequest" message="tns:addBorrowing"/>
<output wsam:Action="borrowing.client.library.nb.com/BorrowingClient/addBorrowingResponse" message="tns:addBorrowingResponse"/>
</operation>
<operation name="getBorrowing">
<input wsam:Action="borrowing.client.library.nb.com/BorrowingClient/getBorrowingRequest" message="tns:getBorrowing"/>
<output wsam:Action="borrowing.client.library.nb.com/BorrowingClient/getBorrowingResponse" message="tns:getBorrowingResponse"/>
</operation>
<operation name="listBorrowing">
<input wsam:Action="borrowing.client.library.nb.com/BorrowingClient/listBorrowingRequest" message="tns:listBorrowing"/>
<output wsam:Action="borrowing.client.library.nb.com/BorrowingClient/listBorrowingResponse" message="tns:listBorrowingResponse"/>
</operation>
<operation name="listArchive">
<input wsam:Action="borrowing.client.library.nb.com/BorrowingClient/listArchiveRequest" message="tns:listArchive"/>
<output wsam:Action="borrowing.client.library.nb.com/BorrowingClient/listArchiveResponse" message="tns:listArchiveResponse"/>
</operation>
<operation name="listBorrowingByReturnDateBeforeCurrent">
<input wsam:Action="borrowing.client.library.nb.com/BorrowingClient/listBorrowingByReturnDateBeforeCurrentRequest" message="tns:listBorrowingByReturnDateBeforeCurrent"/>
<output wsam:Action="borrowing.client.library.nb.com/BorrowingClient/listBorrowingByReturnDateBeforeCurrentResponse" message="tns:listBorrowingByReturnDateBeforeCurrentResponse"/>
</operation>
<operation name="findByBookId">
<input wsam:Action="borrowing.client.library.nb.com/BorrowingClient/findByBookIdRequest" message="tns:findByBookId"/>
<output wsam:Action="borrowing.client.library.nb.com/BorrowingClient/findByBookIdResponse" message="tns:findByBookIdResponse"/>
</operation>
<operation name="updateBorrowing">
<input wsam:Action="borrowing.client.library.nb.com/BorrowingClient/updateBorrowingRequest" message="tns:updateBorrowing"/>
<output wsam:Action="borrowing.client.library.nb.com/BorrowingClient/updateBorrowingResponse" message="tns:updateBorrowingResponse"/>
</operation>
<operation name="deleteBorrowing">
<input wsam:Action="borrowing.client.library.nb.com/BorrowingClient/deleteBorrowingRequest" message="tns:deleteBorrowing"/>
<output wsam:Action="borrowing.client.library.nb.com/BorrowingClient/deleteBorrowingResponse" message="tns:deleteBorrowingResponse"/>
</operation>
</portType>
<binding name="BorrowingPortBinding" type="tns:BorrowingClient">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addBorrowing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBorrowing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listBorrowing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listArchive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listBorrowingByReturnDateBeforeCurrent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByBookId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBorrowing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBorrowing">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BorrowingService">
<port name="BorrowingPort" binding="tns:BorrowingPortBinding">
<soap:address location="http://localhost:8081/library/BorrowingService"/>
</port>
</service>
</definitions>