wsdl/ReservationService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="reservation.client.library.nb.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="reservation.client.library.nb.com" name="ReservationService">
<types>
<xsd:schema>
<xsd:import namespace="reservation.client.library.nb.com" schemaLocation="http://localhost:8080/library/ReservationService?xsd=1"/>
</xsd:schema>
</types>
<message name="listAllReservations">
<part name="parameters" element="tns:listAllReservations"/>
</message>
<message name="listAllReservationsResponse">
<part name="parameters" element="tns:listAllReservationsResponse"/>
</message>
<message name="listReservationsByWork">
<part name="parameters" element="tns:listReservationsByWork"/>
</message>
<message name="listReservationsByWorkResponse">
<part name="parameters" element="tns:listReservationsByWorkResponse"/>
</message>
<message name="listReservationsByUser">
<part name="parameters" element="tns:listReservationsByUser"/>
</message>
<message name="listReservationsByUserResponse">
<part name="parameters" element="tns:listReservationsByUserResponse"/>
</message>
<message name="countReservationsByWork">
<part name="parameters" element="tns:countReservationsByWork"/>
</message>
<message name="countReservationsByWorkResponse">
<part name="parameters" element="tns:countReservationsByWorkResponse"/>
</message>
<message name="updateNotificationDate">
<part name="parameters" element="tns:updateNotificationDate"/>
</message>
<message name="updateNotificationDateResponse">
<part name="parameters" element="tns:updateNotificationDateResponse"/>
</message>
<message name="deleteReservation">
<part name="parameters" element="tns:deleteReservation"/>
</message>
<message name="deleteReservationResponse">
<part name="parameters" element="tns:deleteReservationResponse"/>
</message>
<message name="addReservation">
<part name="parameters" element="tns:addReservation"/>
</message>
<message name="addReservationResponse">
<part name="parameters" element="tns:addReservationResponse"/>
</message>
<portType name="ReservationClient">
<operation name="listAllReservations">
<input wsam:Action="reservation.client.library.nb.com/ReservationClient/listAllReservationsRequest" message="tns:listAllReservations"/>
<output wsam:Action="reservation.client.library.nb.com/ReservationClient/listAllReservationsResponse" message="tns:listAllReservationsResponse"/>
</operation>
<operation name="listReservationsByWork">
<input wsam:Action="reservation.client.library.nb.com/ReservationClient/listReservationsByWorkRequest" message="tns:listReservationsByWork"/>
<output wsam:Action="reservation.client.library.nb.com/ReservationClient/listReservationsByWorkResponse" message="tns:listReservationsByWorkResponse"/>
</operation>
<operation name="listReservationsByUser">
<input wsam:Action="reservation.client.library.nb.com/ReservationClient/listReservationsByUserRequest" message="tns:listReservationsByUser"/>
<output wsam:Action="reservation.client.library.nb.com/ReservationClient/listReservationsByUserResponse" message="tns:listReservationsByUserResponse"/>
</operation>
<operation name="countReservationsByWork">
<input wsam:Action="reservation.client.library.nb.com/ReservationClient/countReservationsByWorkRequest" message="tns:countReservationsByWork"/>
<output wsam:Action="reservation.client.library.nb.com/ReservationClient/countReservationsByWorkResponse" message="tns:countReservationsByWorkResponse"/>
</operation>
<operation name="updateNotificationDate">
<input wsam:Action="reservation.client.library.nb.com/ReservationClient/updateNotificationDateRequest" message="tns:updateNotificationDate"/>
<output wsam:Action="reservation.client.library.nb.com/ReservationClient/updateNotificationDateResponse" message="tns:updateNotificationDateResponse"/>
</operation>
<operation name="deleteReservation">
<input wsam:Action="reservation.client.library.nb.com/ReservationClient/deleteReservationRequest" message="tns:deleteReservation"/>
<output wsam:Action="reservation.client.library.nb.com/ReservationClient/deleteReservationResponse" message="tns:deleteReservationResponse"/>
</operation>
<operation name="addReservation">
<input wsam:Action="reservation.client.library.nb.com/ReservationClient/addReservationRequest" message="tns:addReservation"/>
<output wsam:Action="reservation.client.library.nb.com/ReservationClient/addReservationResponse" message="tns:addReservationResponse"/>
</operation>
</portType>
<binding name="ReservationPortBinding" type="tns:ReservationClient">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listReservationsByWork">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listReservationsByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countReservationsByWork">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateNotificationDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservationService">
<port name="ReservationPort" binding="tns:ReservationPortBinding">
<soap:address location="http://localhost:8080/library/ReservationService"/>
</port>
</service>
</definitions>