wsdl/WorkService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="work.client.library.nb.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="work.client.library.nb.com" name="WorkService">
<types>
<xsd:schema>
<xsd:import namespace="work.client.library.nb.com" schemaLocation="http://localhost:8080/library/WorkService?xsd=1"/>
</xsd:schema>
</types>
<message name="getWork">
<part name="parameters" element="tns:getWork"/>
</message>
<message name="getWorkResponse">
<part name="parameters" element="tns:getWorkResponse"/>
</message>
<message name="listWorks">
<part name="parameters" element="tns:listWorks"/>
</message>
<message name="listWorksResponse">
<part name="parameters" element="tns:listWorksResponse"/>
</message>
<message name="listWorksByWord">
<part name="parameters" element="tns:listWorksByWord"/>
</message>
<message name="listWorksByWordResponse">
<part name="parameters" element="tns:listWorksByWordResponse"/>
</message>
<portType name="WorkClient">
<operation name="getWork">
<input wsam:Action="work.client.library.nb.com/WorkClient/getWorkRequest" message="tns:getWork"/>
<output wsam:Action="work.client.library.nb.com/WorkClient/getWorkResponse" message="tns:getWorkResponse"/>
</operation>
<operation name="listWorks">
<input wsam:Action="work.client.library.nb.com/WorkClient/listWorksRequest" message="tns:listWorks"/>
<output wsam:Action="work.client.library.nb.com/WorkClient/listWorksResponse" message="tns:listWorksResponse"/>
</operation>
<operation name="listWorksByWord">
<input wsam:Action="work.client.library.nb.com/WorkClient/listWorksByWordRequest" message="tns:listWorksByWord"/>
<output wsam:Action="work.client.library.nb.com/WorkClient/listWorksByWordResponse" message="tns:listWorksByWordResponse"/>
</operation>
</portType>
<binding name="WorkPortBinding" type="tns:WorkClient">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getWork">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listWorks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listWorksByWord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WorkService">
<port name="WorkPort" binding="tns:WorkPortBinding">
<soap:address location="http://localhost:8080/library/WorkService"/>
</port>
</service>
</definitions>